*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteyner{
    max-width: 1276px;
    margin: 0 auto;
        
    
    

}
.cards{
    display: flex;
    padding: 58px;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    
}
h1{
    text-align: center;
    color: #000000;
    font-size: 40px;
    font-family: sans-serif;
}
.page{
    width: 50px;
    display:block;
    text-align: center;
}

.card{
    border: 1px solid white;
    width:276px ;
    height: 151px;
    margin: 54px;
    text-align: justify;
}
h2{
color: #000000;
font-family: sans-serif;
font-size: 19px;
}