img{
    width: 400px;
    
}
div{
    width: 400px;
    border: 1px solid #ddd;
    margin: 20px auto;
    padding: 20px;
    background-color: bisque;
    border-radius: 5px;
    
}
a{
    display: block;
    text-align: right;
    padding: 10px;
}
body{
    background-color: aqua;
}



